@{
    ViewBag.Title = "Contact";
}
<h2>@ViewBag.Title.</h2>
<h3>@ViewBag.Message</h3>

<address>
    1100 Market Street<br />
    Chattanooga, TN 37402<br />
    <abbr title="Phone">P:</abbr>
    423-702-8136
</address>

<address>
    <strong>Support:</strong>   <a href="mailto:support@gridprotectionalliance.org">support@gridprotectionalliance.org</a>
</address>